@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap');

.wrapper {
   min-height: 100%;
   padding: 20px;
}

.wrapper {}

.header {}

.menu {}

.page {}

.promise {}

.promise__container {
   width: 1020px;
   margin: 0px auto;
}

.promise__you-promise {
   display: flex;
   flex-direction: column;
   gap: 68px;
}

.you-promise__left-title-name {
   display: flex;
   flex-direction: column;
   max-width: 585px;
   gap: 33px;
}

.left-title-name__first-element-name {
   max-width: 436px;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 1;
   margin: 0px 0px 0px 20px;
}

.left-title-name__first-element-name::before {
   content: "";
   width: 25px;
   height: 25px;
   display: inline-block;
   background: url('../img/main/block-2/overline-mark.svg') 0 0 / 25px no-repeat;
   position: absolute;
   top: 0px;
   left: -25px;
   z-index: 1;
}

.first-element-name__sub-title {
   font-family: 'Roboto';
   font-weight: 700;
   font-style: normal;
   font-size: 12px;
   line-height: 2;
   color: rgb(93, 98, 181);
   text-transform: uppercase;
   letter-spacing: 2.5px;
}

.left-title-name__second-element-name {
   max-width: 583px;
}

.second-element-name__title {
   font-family: 'Roboto';
   font-weight: 900;
   font-style: normal;
   font-size: 36px;
   line-height: 1.16;
   color: rgb(0, 0, 0);
}

.you-promise__our-promise {
   display: flex;
   flex-direction: row;
   gap: 24px;
}

.our-promise__love-care,
.our-promise__on-site-vet,
.our-promise__live-stream-cam {
   max-width: 324px;
   display: flex;
   flex-direction: row;
   gap: 23px;
}

.picture-item__image {
   width: 64px;
   height: 64px;
}

.love-care__info-item,
.on-site-vet__info-item,
.live-stream-cam__info-item {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-self: center;
}

.info-item__name-info-item {
   max-width: 235px;
}

.name-info-item__title {
   font-family: 'Roboto';
   font-weight: 900;
   font-style: normal;
   font-size: 19px;
   line-height: 1.3;
   color: rgb(242, 114, 111);
}

.info-item__text-info-item {
   max-width: 235px;
}

.text-info-item__text {
   font-family: 'Roboto';
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
   color: rgb(75, 75, 75);
}